.footer {
    color: #666;
    font-size: smaller;
    margin-top: 40px;
    text-align: center;
}

div.header {
    margin-bottom: 9px;
    margin-left: -2px;
    position: relative;
    zoom: 1
}

div.header img.logo {
    border: 0;
    float: left;
}

div.header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 13px 15px 15px;
}

.body {
    margin: 0;
}

div.errorbox-good {
}

div.errorbox-bad {
}

div.errormsg {
    color: red;
    font-size: smaller;
    font-family: arial, sans-serif;
}

font.errormsg {
    color: red;
    font-size: smaller;
    font-family: arial, sans-serif;
}

div.pagemsg {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}

div.pagemsg span {
    padding: 5px;
    background: #ff9;
}

div.topbarwrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

div.topbar {
    padding: 3px 8px 0px;
}

div.header div.headercontent {
    float: right;
    margin-top: 17px;
}

div.pagetitle {
    font-weight: bold;
}

table#signupform {
    left: -5px;
    top: -7px;
    position: relative;
}

table#signupform td {
    padding: 7px 5px;
}

table#signupform td table td {
    padding: 1px;
}

.gaia.ops.gsl {
    font-family: arial, sans-serif;
    color: #3366cc;
    font-weight: bold;
}

.gaia.sub.el {
    font-family: arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.gaia.sub.pl {
    font-family: arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.gaia.sub.rpl {
    font-family: arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.gaia.sub.es {
    font-family: arial, sans-serif;
    font-size: smaller;
    font-style: italic;
}

.gaia.sub.seex {
    font-family: arial, sans-serif;
    font-size: smaller;
    color: #6f6f6f;
}

.gaia.sub.pc {
    font-family: arial, sans-serif;
    font-size: smaller;
    color: #6f6f6f;
}

.gaia.cca.al {
    font-family: arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.gaia.cca.ol {
    font-family: arial, sans-serif;
    font-size: x-small;
}

.gaia.cca.cmt {
    font-family: arial, sans-serif;
    font-size: smaller;
    color: #6f6f6f;
}

.gaia.cud.cl {
    font-family: arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.gaia.captchahtml.desc {
    font-family: arial, sans-serif;
    font-size: smaller;
}

.gaia.captchahtml.cmt {
    font-family: arial, sans-serif;
    font-size: smaller;
    color: #6f6f6f;
}

.gaia.sub.norm {
    font-family: arial, sans-serif;
    font-size: smaller;
}


#guser {
    FONT-SIZE: 13px;
    PADDING-TOP: 0px !important padding-bottom: 7px;
    text-align: right;
}

A.gb4 {
    TEXT-DECORATION: underline !important
}
