/*GAB0G-HBCC GAB0G-HBEC  GAB0G-HBAD GAB0G-HBNC GAB0G-HBLC GAB0G-HBBD GAB0G-HBOC gwt-HTML*/

.GAB0G-HBBD {
    color: #11c;
    text-decoration: none;
}

.GAB0G-HBKB .GAB0G-HBBD {
    color: #11c;
    display: block;
    font-family: arial;
    font-size: 14px;
    margin: 10px 10px 3px 10px;
}

.GAB0G-HBCC {
    border-collapse: separate;
    border: solid 1px #e4e4e4;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 2px 3px #e4e4e4;
    -webkit-box-shadow: 0 2px 3px #e4e4e4;
    box-shadow: 0 2px 3px #e4e4e4;
    font-family: arial, sans-serif;
    margin: 0px auto 10px auto;
    padding: 10px;
    text-decoration: none;
}

.GAB0G-HBCC .GAB0G-HBEC {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 10px;
    text-align: left;
}


.GAB0G-HBCC .GAB0G-HBOC {
    font-size: 64px;
    font-weight: bold;
    color: #6b90da;
    cursor: pointer;
    display: none
}

.GAB0G-HBCC .GAB0G-HBPC {
    font-size: 64px;
    font-weight: bold;
    color: #ddd;
    cursor: default;
}

.GAB0G-HBCC .GAB0G-HBAD {
    width: 1100px;
}

.GAB0G-HBNC {
    font-size: 12px;
    margin-left: 0px;
    margin-right: 10px;
    width: 145px;
}

.GAB0G-HBNC td {
    text-align: left;
}

.GAB0G-HBNC .GAB0G-HBLC {
    display: block;
    max-height: 135px;
    max-width: 135px;
    margin: auto;
}

/*
 * **********************************************************
 
.GAB0G-HBDB {
    color: #f00;
}

.GAB0G-HBHB {
    font-weight: bold;
    margin-bottom: -5px !important;
}

.GAB0G-HBGB {
    background: #ffe;
    border: 1px solid #999;
    border-width: 1px 2px 2px 1px;
    font-size: 13px;
    padding: 6px;
    width: 260px;
}

.GAB0G-HBGB div {
    margin: 10px;
}

.GAB0G-HBCB {
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px auto;
    padding: 5px;
    background: #fdd;
    text-align: center;
}

.GAB0G-HBDC {
    margin: auto;
}

.GAB0G-HBED {
    font-size: 12px;
    font-weight: bold;
}

.GAB0G-HBHD {
    color: red;
}

.GAB0G-HBJD {
    color: #7e7e7e;
}

.GAB0G-HBID {
    color: #7e7e7e;
    text-decoration: line-through;
    text-style: normal;
}

.GAB0G-HBKB {
    background-color: white;
    border: 1px solid #e4e4e4;
    -moz-box-shadow: 0 2px 3px #777;
    -webkit-box-shadow: 0 2px 3px #777;
    box-shadow: 0 2px 3px #777;
    width: 300px;
}

.GAB0G-HBKB table {
    border-collapse: separate;
    font-family: arial;
    font-size: 12px;
}

.GAB0G-HBKB .GAB0G-HBNB {
    padding: 10px;
}

.GAB0G-HBKB .GAB0G-HBGC {
    text-decoration: none;
}

.GAB0G-HBKB .GAB0G-HBIC {
    background-color: #e9ecf4;
    display: block;
    font-size: 14px;
    padding: 10px;
}

.GAB0G-HBKB .GAB0G-HBIC div {
    font-size: 14px;
}

.GAB0G-HBKB .GAB0G-HBIB {
    font-family: arial;
    margin: 4px 10px 10px 10px;
}

.GAB0G-HBO, .GAB0G-HBM {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.GAB0G-HBP .GAB0G-HBO {
    border-bottom: 12px solid white;
    bottom: -1px;
}

.GAB0G-HBP .GAB0G-HBM {
    border-bottom: 12px solid #e4e4e4;
    bottom: 1px;
}

.GAB0G-HBN .GAB0G-HBO {
    border-top: 12px solid white;
    top: -1px;
}

.GAB0G-HBBE .GAB0G-HBN .GAB0G-HBO {
    border-top-color: #e9ecf4;
}

.GAB0G-HBN .GAB0G-HBM {
    border-top: 12px solid #e4e4e4;
    top: 1px;
}

.GAB0G-HBMB .GAB0G-HBP, .GAB0G-HBPB .GAB0G-HBN {
    position: absolute;
    left: 60px;
}

.GAB0G-HBLB .GAB0G-HBP, .GAB0G-HBOB .GAB0G-HBN {
    position: absolute;
    right: 84px;
}

.GAB0G-HBMB .GAB0G-HBN, .GAB0G-HBLB .GAB0G-HBN, .GAB0G-HBPB .GAB0G-HBP, .GAB0G-HBOB .GAB0G-HBP {
    visibility: hidden;
    display: none;
}

.GAB0G-HBKB .GAB0G-HBOD {
    margin: 0 10px 0 10px;
}

.GAB0G-HBOD td {
    vertical-align: middle !important;
}

.GAB0G-HBOD a {
    color: #0078d9;
    font-size: 12px;
    text-decoration: none;
}

.GAB0G-HBOD .GAB0G-HBJC {
    margin-left: 5px;
}

.GAB0G-HBND {
    height: 9px;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 50px;
}

.GAB0G-HBND .GAB0G-HBAE {
    height: 9px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 10px;
}

.GAB0G-HBND .GAB0G-HBLD {
    left: 0;
    position: absolute;
    top: -60px;
}

.GAB0G-HBND .GAB0G-HBMD {
    left: -92px;
    position: absolute;
    top: -60px;
}

.GAB0G-HBND .GAB0G-HBKD {
    left: 0;
    position: absolute;
    top: -70px;
}

.GAB0G-HBKB .GAB0G-HBGD {
    margin-left: 10px;
}

.GAB0G-HBKB .GAB0G-HBFD {
    color: black;
    font-style: normal;
}

.GAB0G-HBKB a {
    color: #0078d9;
    text-decoration: none;
}

.GAB0G-HBKB .GAB0G-HBGC {
    color: #777;
    margin: 0 10px 0 10px;
}

.GAB0G-HBKB .GAB0G-HBFC a {
    margin-left: 5px;
}

.GAB0G-HBKB .GAB0G-HBFC td {
    font-size: 14px;
}

.GAB0G-HBKB .GAB0G-HBHC {
    font-weight: bold;
}

.GAB0G-HBL {
    background-color: white;
    box-shadow: 2px 2px 10px #888;
    -moz-box-shadow: 2px 2px 10px #888;
    -webkit-box-shadow: 2px 2px 10px #888;
    font-family: arial;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
}

.GAB0G-HBEB {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 170%;
    font-weight: bold;
    margin-top: -165px;
    opacity: 0.99;
}

.GAB0G-HBFB {
    background: rgba(0, 0, 0, 0.25);
}

.GAB0G-HBAB {
    background: rgba(255, 0, 0, 0.5);
}

.GAB0G-HBBB {
    background: rgba(0, 255, 0, 0.5);
}
*/